.home {
  padding: 20px;
}

.movieList {
  display: flex;
  flex-wrap: wrap; /* This ensures that movies wrap onto the next line */
  gap: 20px; /* Spacing between movie cards */
  justify-content: flex-start; /* Align movies to the left */
}
